@model PageRouteEditViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Page Details</h1>

<partial name="_ViewPageRouteVersionDetails" model="@Model" />