@using MPMAR.Common;
@{
    ViewData["Title"] = "Home Page Basic Info";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    string approvalId = Context.Request.Query["approvalId"];
    int approvalIdInt = 0;
    int.TryParse(approvalId, out approvalIdInt);

    var bEUsersPrivilegesViewModel = bEUsersPrivilegesService.ValidateIBEUsersPrivilegesViewService(PrivilegesPageType.HPBasicInfo, this.User.FindFirstValue(ClaimTypes.NameIdentifier), this.User.IsInRole(UserRolesConst.SuperAdmin), approvalId: approvalIdInt);
}


<div>
    <h4>Home Page > Basic Info</h4>
</div>

<table id="data_table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th style="width: 40%">English Page Title</th>
            <th style="width: 40%">Arabic Page Title</th>
            <th style="width: 20%"></th>
        </tr>
    </thead>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.table = $('#data_table').DataTable({
                "aaSorting": [],
                "scrollX": true,
                "searching": false,
                "ajax": {"url": '@Url.Action("GetAll", "HP_BasicInfo")', "dataSrc": "data"},
                "columns": [
                    { "data": "seoTitleEN", render: $.fn.dataTable.render.ellipsis() },
                    { "data": "seoTitleAR", render: $.fn.dataTable.render.ellipsis() },
                    {
                    "data": "id", "orderable": false, "render": function (data, type, row) {
                        var edit = '@Url.Action("Edit", "HP_BasicInfo")';
                          var isContentManager = '@(bEUsersPrivilegesViewModel.CanEdit &&!bEUsersPrivilegesViewModel.IsFromApprovalPage)';
                            return isContentManager == "True" ? '<a href="' + edit + '/' + data + '" title="Edit" class="anchorActionLink"><i class="fa fa-pencil"></i></a>' :'';
                    }
                    },
                ]
                ,"fnInitComplete": function (oSettings, json) {
                    var table = $('#data_table').DataTable();
                    if (table.data().count() <= 10) {
                       document.getElementById("data_table_paginate").style.display = "none";
                            document.getElementById("data_table_length").style.display = "none";
                            document.getElementById("data_table_filter").style.display = "none";
                    }
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.9/dist/sweetalert2.all.min.js"></script>
}


