@model MPMAR.Entities.CreateUserRoleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    @*<h1>Create New User</h1>*@



    <div>
        <h4>Super Admin > <a asp-controller="Account" asp-action="Index">User Managment</a> > Add</h4>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="IsSuperAdmin">
                            @Html.DisplayNameFor(m => m.IsSuperAdmin)
                            <input asp-for="IsSuperAdmin" style="
                                margin-top: 5px;
                                margin-left: 5px;
                            " />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Account" asp-action="Index">Back to previous page</a>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
