@model MinistryTimeLineViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var photoPath = Url.Content("~/Uploads/Images/") + Model.ProfileImageUrl ?? "noImage.png";
}

<h1>Create</h1>

<h4>MinistryTimeLines</h4>
<hr />
<form enctype="multipart/form-data" asp-controller="MinistryTimeLine" asp-action="Create" class="mt-3" onsubmit="DisableAfterClick(event,this)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="EnName" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="EnName" class="form-control" />
            <span asp-validation-for="EnName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ArName" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="ArName" class="form-control" />
            <span asp-validation-for="ArName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="EnDescription" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.EnDescription, new { @class = "form-control summernote" })
            <span asp-validation-for="EnDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ArDescription" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.ArDescription, new { @class = "form-control summernote" })
            <span asp-validation-for="ArDescription" class="text-danger"></span>
        </div>
    </div>



    @*<div class="form-group row">
            <label asp-for="EnImageAlt" class="col-sm-2 col-form-label"></label>

            <div class="col-sm-10">
                <input asp-for="EnImageAlt" class="form-control" />
                <span asp-validation-for="EnImageAlt" class="text-danger"></span>
            </div>
        </div>*@

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose File...</label>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Order" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="Order" class="form-control" />
            <span asp-validation-for="Order" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="IsActive" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="IsActive" class="flat" />
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
    </div>

    

    <div class="form-group row">
        <label asp-for="EventSocialLinks" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="EventSocialLinks" class="form-control" />
            <span asp-validation-for="EventSocialLinks" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="EventDateRange" class="col-sm-2 col-form-label"></label>

        <div class="col-sm-10">
            <input asp-for="EventDateRange" class="form-control" id="startDate" />
            <span asp-validation-for="EventDateRange" class="text-danger"></span>
        </div>
    </div>




    <div class="ln_solid"></div>
    <h3>Search Engine Optimization Data</h3>

    <div class="form-group row">
        <label asp-for="SeoTitleEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTitleEN" class="form-control" placeholder="English Page Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoTitleAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTitleAR" class="form-control" placeholder="Arabic Page Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoDescriptionEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoDescriptionEN" class="form-control" placeholder="English Page Description" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoDescriptionAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoDescriptionAR" class="form-control" placeholder="Arabic Page Description" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoOgTitleEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoOgTitleEN" class="form-control" placeholder="English Facebook Og Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoOgTitleAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoOgTitleAR" class="form-control" placeholder="Arabic Facebook Og Title" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoTwitterCardEN" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTwitterCardEN" class="form-control" placeholder="English Twitter Card" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="SeoTwitterCardAR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SeoTwitterCardAR" class="form-control" placeholder="Arabic Twitter Card" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to previous page</a>
</div>


@section Scripts{
    <script>
        /* Enable html editor */
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 200,
                toolbar: [['style', ['style']], ['font', ['bold', 'underline', 'clear']], ['fontname', ['fontname']], ['color', ['color']], ['para', ['ul', 'ol', 'paragraph']], ['table', ['table']], ['insert', ['link']], ['view', ['fullscreen', 'codeview', 'help']]]
            });
            $('.custom-file-input').on('change', function () {
                var fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').html(fileName);
            });
            var MinDate = moment();
            $('#startDate').daterangepicker({
                "timePicker": true,
                "autoApply": true,
                "timePicker24Hour": true,
                "locale": {
                    "direction": "ltr",
                    "format": "MM/DD/YYYY hh:mm A",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "daysOfWeek": [
                        "Su",
                        "Mo",
                        "Tu",
                        "We",
                        "Th",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    "firstDay": 1
                },
                "minDate": MinDate
            }, function (start, end, label) {
                //console.log(start.format('MM/DD/YYYY hh:mm A'));
                //console.log(end.format('MM/DD/YYYY hh:mm A'));
                //console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
                //$('#EventStartDate').val(start.format('MM/DD/YYYY hh:mm A'));
                //$('#EventEndDate').val(end.format('MM/DD/YYYY hh:mm A'));
            });
            //$('#startDate').daterangepicker({
            //    singleDatePicker: true,
            //    timePicker: true,
            //    timePicker24Hour: true,
            //    startDate: moment().subtract(6, 'days')
            //});

            //$('#endDate').daterangepicker({
            //    singleDatePicker: true,
            //    timePicker: true,
            //    timePicker24Hour: true,
            //    startDate: moment()
            //});


            $('.colorpicker').spectrum({
                showInput: true,
                preferredFormat: "hex"
            });
            $('.sp-container .sp-input').each(function () {
                this.defaultValue = this.value;
            });




        });

        function CheckForChanges() {
            if (GetHasChanges()) {
                alert("Yes we have changes!!!");
            } else {
                alert("No changes!!!");
            }
        }
        function GetHasChanges() {
            var hasChanges = false;

            $(":input:not(:button):not([type=hidden])").each(function () {
                if ((this.type == "text" || this.type == "textarea" || this.type == "hidden" || this.type == "number") && this.defaultValue != this.value) {
                    hasChanges = true;
                    return false;
                } else {
                    if ((this.type == "radio" || this.type == "checkbox") && this.defaultChecked != this.checked) {
                        hasChanges = true;
                        return false;
                    } else {
                        if ((this.type == "select-one" || this.type == "select-multiple")) {
                            for (var x = 0; x < this.length; x++) {
                                if (this.options[x].selected != this.options[x].defaultSelected) {
                                    hasChanges = true;
                                    return false;
                                }
                            }
                        }
                    }
                }
            });

            return hasChanges;
        }

    </script>
}