@media (max-width: 767px) {
    .team-member-more {
        margin-right: 20px;
    }

    .team-member-info h2 {
        margin: 3px 24px 0px;
    }
}


/*#main-footer {
    padding-right: 5024px !important;
}*/


@media (max-width: 767px) {
    .newsletter-form .newsletter-submit .icons {
        padding-left: 0;
        padding-right: 0px;
    }

    .copyright {
        margin-right: 9px;
    }
}
